.marquee-wrapper {
  width: 100%;
  overflow: hidden;
  background-color: #111;
  padding: 2rem 0;

  .marquee-item {
    display: flex;
    align-items: center;
    margin: 0 1rem;

    .marquee-text {
      font-size: 3.8rem;
  
      color: #fff;
      margin-right: 0.8rem;
      white-space: nowrap;
    }

    .marquee-icon {
      width: 2.8rem;
      height: 2.8rem;
      color: #fff;
    }
  }
}



@media (min-width: 768px) {
  .marquee-wrapper {
    padding: 2rem 0;

    .marquee-item {
      margin: 0 1.5rem;

      .marquee-text {
        font-size: 4.6rem; 
        margin-right: 1rem;
      }

      .marquee-icon {
        width: 3.2rem;
        height: 3.2rem;
      }
    }
  }
}


@media (min-width: 1024px) {
  .marquee-wrapper {
    padding: 2rem 0;

    .marquee-item {
      margin: 0 2rem;

      .marquee-text {
        font-size: 7rem;
        margin-right: 1.2rem;
      }

      .marquee-icon {
        width: 3.6rem;
        height: 3.6rem;
      }
    }
  }
}