.say-hello-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0.6rem 0.6rem;
  border-radius: 50%;
  border: 2px solid white;
  color: #fff;
  font-weight: 500;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  span {
    font-size: 1.2rem;
    display: none;
  }

  img {
    width: 1.2rem;
    height: 1.2rem;
    display: inline-block;
  }
}
