.mobile-menu {
  gap: 1.5rem;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: black;
  border-radius: 50px;
  padding: 2rem;
  transform: scale(0);
  transform-origin: top right;
  opacity: 0;
  z-index: 999;
  pointer-events: none; 
  transition: transform 0.4s ease, opacity 0.4s ease;

  &.open {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .mobile-menu {
    padding: 3rem;
    border-radius: 60px;
  }
}

@media (min-width: 1024px) {
  .mobile-menu {
    padding: 4rem;
    border-radius: 80px;
  }
}
