.main-section {
  padding: 0 2rem;

  overflow: hidden;

  .center-hero-img {
    width: 100%;
    height: 55vh;
    position: relative;

    img {
      width: 100%;
      border-radius: 1rem;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    .tag {
      position: absolute;
      display: flex;
      padding: 1rem 0.8rem;
      background-color: rgba(0, 0, 0, 0.4);
      backdrop-filter: blur(10px);
      top: 1rem;
      color: white;
      left: 1rem;
      border-radius: 1rem;
      align-items: center;
      gap: 0.6rem;
      white-space: nowrap;

      .mark-icon {
        width: 0.6rem;
        height: 0.6rem;
        background-color: greenyellow;
        border-radius: 50%;
      }
    }
  }

  .info-container {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .info-text {
      text-align: start;
      color: white;
      p {
        font-size: 1.4rem;
        font-weight: 600;
      }
    }

    .info-tag {
      display: flex;
      gap: 0.6rem;
      flex-wrap: wrap;
      .tag {
        padding: 0.4rem 0.6rem;
        border: 1px solid gray;
        color: gray;
        white-space: nowrap;
        border-radius: 2rem;
        font-size: 0.8rem;
      }
    }
  }
  .skill-tag {
    display: flex;
    gap: 0.6rem;
    padding-top: 0.6rem;
    flex-wrap: wrap;
    .tag {
      padding: 0.4rem 0.6rem;
      border: 1px solid gray;
      color: gray;
      white-space: nowrap;
      border-radius: 2rem;
      font-size: 0.8rem;
    }
  }
}

.main-section {
  padding: 0 2rem;

  .center-hero-img {
    width: 100%;
    height: 55vh;

    img {
      width: 100%;
      border-radius: 1rem;
      height: 100%;
      object-fit: cover;
      display: block;
      position: relative;
      object-position: top center;
    }

    .tag {
      position: absolute;
      display: flex;
      padding: 1rem 0.8rem;
      background-color: rgba(0, 0, 0, 0.4);
      backdrop-filter: blur(10px);
      top: 1rem;
      color: white;
      left: 1rem;
      border-radius: 1rem;
      align-items: center;
      gap: 0.6rem;

      .mark-icon {
        width: 0.6rem;
        height: 0.6rem;
        background-color: greenyellow;
        border-radius: 50%;
      }
    }
  }

  .info-container {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .info-text {
      text-align: start;
      color: white;

      p {
        font-size: 1.4rem;
        font-weight: 600;
      }
    }

    .info-tag {
      display: flex;
      gap: 0.6rem;
      flex-wrap: wrap;

      .tag {
        padding: 0.4rem 0.6rem;
        border: 1px solid gray;
        color: gray;
        white-space: nowrap;
        border-radius: 2rem;
        font-size: 0.8rem;
      }
    }
  }

  .skill-tag {
    display: flex;
    gap: 0.6rem;
    padding-top: 0.6rem;
    flex-wrap: wrap;

    .tag {
      padding: 0.4rem 0.6rem;
      border: 1px solid gray;
      color: gray;
      white-space: nowrap;
      border-radius: 2rem;
      font-size: 0.8rem;
    }
  }
}

@media (min-width: 768px) {
  .main-section {
    padding: 0 3rem;

    .center-hero-img {
      height: auto; /* let image decide */
      display: flex;
      justify-content: center;

      img {
        width: 55%; /* scales with container */
        max-width: 450px; /* optional cap */
        aspect-ratio: 1 / 1; /* enforces square */
        border-radius: 50%;
        object-fit: cover; /* avoids squishing */
      }

      .tag {
        left: 70%;
        transform: translateX(-70%);
      }

      .hero-two-tiles {
        bottom: 2rem;
        gap: 14rem;

        .first,
        .second {
          p:nth-child(1) {
            font-size: 3rem;
          }
        }
      }
    }

    .info-container {
      flex-direction: column;
      justify-content: space-between;

      gap: 3rem;

      .info-text {
        flex: 1;

        p {
          text-align: center;
          font-size: 1.6rem;
        }
      }

      .info-tag {
        justify-content: center;
        .tag {
          font-size: 0.9rem;
        }
      }
    }
    .skill-tag {
      justify-content: center;

      .tag {
        font-size: 0.9rem;
      }
    }
  }
}

@media (min-width: 1024px) {
  .main-section {
    padding: 0 4rem;
    display: flex;
    justify-content: space-between;

    .center-hero-img {
      order: 1;
      flex: 5;

      img {
        width: 65%;
        max-width: 750px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .info-container {
      overflow-x: auto;
      gap: 4rem;
      order: 0;
      display: block;
      flex: 2;

      .info-text {
        p {
          text-align: start;
          font-size: 1.6rem;
          font-weight: 400;
        }
      }

      .info-tag {
        margin-top: 4rem;
        height: fit-content;
        flex-direction: column;
        flex-wrap: nowrap;
        .tag {
          width: fit-content;
          font-size: 1.2rem;
          padding: 0.4rem 0.8rem;
        }
      }
    }

    .skill-tag {
      flex: 2;
      order: 3;
      height: fit-content;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: end;

      .tag {
        font-size: 0.8rem;
        width: fit-content;
        font-size: 1.2rem;
        padding: 0.4rem 0.8rem;
      }
    }
  }
}
