@import "../index.scss";
@import "../components/Button/Button.modules.scss";
@import "../components/Cursor/Cursor.modules.scss";
@import "../components/Footer/Footer.modules.scss";
@import "../components/GithubActivity/GithubActivity.modules.scss";
@import "../components/MarqueComponent/MarqueeComponent.scss";
@import "../components/Menu/Menu.models.scss";
@import "../components/Mountain-design/Mountain.modules.scss";
@import "../components/Navbar/Navbar.modules.scss";
@import "../sections/About/About.modules.scss";
@import "../sections/Contact/Contact.modules.scss";
@import "../sections/Hero/Hero.modules.scss";
@import "../sections/Projects/Projects.modules.scss";
